 {% extends 'layout.html' %} {% load static %} {% load django_bootstrap5 %} {% block body %}{% include "components/header.html" %}
<!-- About Section Start -->
<section id="" class="about-area bg-dark section-padding">
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>{% block head_title %}Log IN{% endblock %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class=" my-5">Log in</h2>
            <form method="post">
                {% csrf_token %}
                <p>{% bootstrap_form form %}</p>
                <button type="submit" class="boxed-btn3 w-40">Login</button>
            </form>
            <br>
            <p>Forgot your password? <a href="{% url 'accounts:password_reset' %}">Click here</a></p>
        </div>
    </div>
</div>

{% endblock body %}