{% extends "base_extended.html" %} {% load django_bootstrap5 %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-4 bg-dark">
            <h2 class=" my-5">{% block head_title %}Password reset{% endblock head_title %}</h2>
            <form action="" method="post">
                {% csrf_token %} {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <div class="form-group">
                    <p>{% bootstrap_form form %}</p>
                </div>
                <button type="submit" class="btn boxed-btn3">Reset Password</button>
                <!-- <input type="submit" class="boxed-btn3 w-100" value="Reset password"> -->
            </form>
        </div>
    </div>
</div>
{% endblock %}