{% extends "postman/base_folder.html" %} {% load django_bootstrap5 %} {% load i18n %} {% block body %}{% include "components/header.html" %}
<section id="" class="about-area bg-dark section-padding">
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>{% block head_title %}Archives{% endblock %}</h2>
                        <h3>{% block pm_folder_title %}{% trans "Archived Messages" %}{% endblock %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                {% block pm_archive_button %}{% endblock %} {% block pm_undelete_button %}{% endblock %} {% block pm_footer_info %}
                <h5>
                    <p>{% trans "Messages in this folder will never be removed. You can use this folder for long term storage." %}</p>
                </h5>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}