{% extends 'layout.html' %} {% load django_bootstrap5 %} {% block body %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_dark_bg">
    <div class="header">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <!-- Adding the message in the template -->
                    <br>
                    <br>
                    <h2>{% block head_title %} {% endblock %}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Contact Me</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- ================ contact section start ================= -->
<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Get in Touch</h2>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" method="post">
                    {{ form.non_field_errors }} {% csrf_token %} {% for field in form %}
                    <div class="contact">
                        {% if field.errors %}
                        <ol>
                            {% for error in field.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ol>
                        {% endif %} {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    {% endfor %} {% bootstrap_form form %}
                    <button type="submit" class="button button-contactForm btn_4 boxed-btn">Send Message</button>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>{{info.place}}</h3>
                        <p></p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>{{info.phone}}</h3>
                        <p>Mon to Fri 9am to 6pm</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>{{info.email}}</h3>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->
<!-- footer start -->
{% endblock body %}